
div {
    width: 800px;
    height: 400px;
    background-color: #162671;
    color: white;
    padding-top: 40px;
    padding-left: 60px;
    padding-right: 300px;
    box-sizing: border-box;
    border-bottom: 2px solid yellow;
}

div h1 {
    margin: 0px;
    font-size: 40px;
    font-family: roboto;
    text-transform: uppercase;
}

div p {
    font-family: mada;
    font-size: 14px;
    margin-top: 30px;
    line-height: 25px;
    margin-bottom: 40px;
}

div a {
    color: white;
    font-family: mada;
    font-weight: 700;
    padding: 15px 25px;
    background-color: red;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 5px;
}


.topbar {
    width: 100%;
    height: 50px;
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 999;
  }

  .topbarWrapper {
    height: 100%;
    padding: 0px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
 
  
  