.wrapper {
    position: relative;
    overflow: hidden;
    background-image: linear-gradient(#ed5f47, #fe2d3b);
    height: 100vh;
}

header {
    padding: 30px 0px;
}

header ul {
    margin-top: 40px;
}

header ul li {
    float: left;
    list-style: none;
}

header .logo img {
    height: 90px;
}

header ul.navigation {
    padding-left: 50px;
    box-sizing: border-box;
}

header ul.navigation li {
    margin-right: 40px;
}



header ul li a {
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    font-size: 0.7em;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}

header ul.seperate {
    display: flex;
    justify-content: space-between;
}

header ul.seperate li:nth-child(1) a{
     font-size: 24px;
     position: relative;
     bottom: 3px;
}

header ul.seperate li:nth-child(2) a {
    letter-spacing: 12px;
}


header ul.seperate li:nth-child(3) a {
    position: relative;
}


header ul.seperate li:nth-child(3) a span{
    position: relative;
    bottom: 28px;
    background-color: black;
    width: 14px;
    height: 14px;
    left: 49px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    font-size: 0.7em;
}


/* #########################################################  */

section {
    padding: 8em 03m 12em 0em;
}

section .display {
    height: 360px;
    position: relative;
    font-family: 'Gothan';
    color: #fff;
    font-style: italic;
}


section .display h1 {
    text-transform: uppercase;
    font-size: 8.2rem;
    font-weight: 800;
    letter-spacing: 6px;
    float: right;
}

section .display h1::before {
    content: "/";
    font-size: 0.15em;
    position: absolute;
    top: 0.8em;
    left: 4.5em;
}

section .display h1::after {
    content: "/";
    font-size: 0.15em;
    position: absolute;
    bottom: 4.3em;
    right: 0.7em;
}

section .display h2 {
    float: right;
    font-size: 2em;
    font-family: 'Montserrat', sans-serif;
    position: relative;
    bottom: 0.3em;
    right: 1.5em;
}

section .display img {
    position: absolute;
    bottom: 2em;
    right: 1em;
    height: 20em;
    transform: rotate(-20deg);
}


/* ############################################################## */

section .details {
    position: relative;
    left: 10%;
}

section .details .brand {
    display: flex;
    align-items: center;
    margin-bottom: 2em;
}


section .details .brand .brand-name h1 {
    text-transform: uppercase;
    padding-right: 20px;
    font-size: 3em;
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    color: white;
}

section .details .brand .rating ul li {
   float: left;
   list-style: none;
   color: yellow;
   margin-right: 3px;
   font-size: 1.3em;
}

section .details .brand .rating ul li:last-child {
    color: #fff;
}

section .details .product-details {
    width: 90%;
}

section .details .product-details .category {
      margin-bottom: 10px;
}

section .details .product-details .category a {
    color: #fff;
    text-transform: capitalize;
    font-size: 00.7em;
    text-decoration: none;
    display: block;
    font-family: 'Mada', sans-serif;
}

section .details .product-details .product-name h2 {
    color: #fff;
    text-transform: capitalize;
    font-size: 1.4em;
    font-weight: 600;
    margin-bottom: 0.5em;
    font-family: 'Montserrat', sans-serif;
}

section .details .product-details .product-description p {
   color: #fff;
   font-size: 0.8em;
   margin-bottom: 15px;
   font-family: 'Mada', sans-serif;
   line-height: 1.3em;
   width: 80%;
}

section .details .product-details .product-description ul {
    padding-left: 15px;
    margin-bottom: 1em;
}

section .details .product-details .product-description ul li {
    color: #fff;
    text-transform: capitalize;
    font-size: 0.8em;
    font-family: 'Mada', sans-serif;
    line-height: 1.5em;
}

section .details .product-details .product-description a {
    text-decoration: underline;
    color: #fff;
}

section .details .product-size-select {
    position: relative;
    margin: 20px 0px;
}

section .details .product-size-select i {
    color: yellow;
    font-size: 1em;
}

section .details .product-size-select select {
    padding: 10px;
    border: none;
    -webkit-appearance: listbox;
    width: 100px;
    background: none;
    text-transform: uppercase;
    font-size: 0.9em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #fff;
    letter-spacing: 1px;
    cursor: pointer;
    outline: none;
}


section .details .product-size-select select option {
    color: #fe2d3b;
    font-weight: 500;
}

section .details .product-btn-price {
    display: flex;
    flex-direction: row;
    align-items: center;
}

section .details .product-btn-price button{
    margin-right: 40px;
    background: none;
    border: 2px solid #fff;
    color: #fff;
    text-transform: uppercase;
    padding: 12px 35px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 0.5em;
    letter-spacing: 0.3em;
    cursor: pointer;
}

section .details .product-btn-price h1.price {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
    font-style: italic;
    letter-spacing: 0.1em;
}


.foot {
    position: absolute;
    margin: 0 auto;
    bottom: 0;
    left: 0;
    right: 0;
}

.foot img  {
    height: 600px;
    position: relative;
    top: 17em;
}

.foot h1 {
    float: right;
    position: relative;
    top: 16.5em;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
    letter-spacing: 0.1em;
}

.topRight{
    display: flex;
    align-items: center;
}

.featured {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  
  .featuredItem {
    flex: 1;
    margin: 0px 20px;
    padding: 30px;
    border-radius: 10px;
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  }

 

  
  

